//-----------------------------------------------------------------------------
// carbon config

@use '@carbon/react';

/*
/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
    .cds--grid--no-gutter {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
    margin-top: 3rem;
    background: var(--cds-background);
}
*/

// end of carbon config
//-----------------------------------------------------------------------------


:root {
    --color-foreground: #222222;
    --color-background: #f5f5f5;
    --color-border: #dddddd;
}



body {
    color: var(--color-foreground);
    background-color: var(--color-background);
    margin: 0px;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    letter-spacing: 0px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

p {
    hyphens: auto;
}

div {
    hyphens: auto;
}

button {
    cursor: pointer;
    outline: none;
    border: 1px solid darkgray;
}

a {
    color: var(--color-foreground);
    text-decoration: none;
    border-bottom: 2px transparent white;
}

nav {
    min-height: 2.5rem;
    border-bottom: 1px solid var(--color-border);
}

table {
    border-collapse: collapse;
}

table td {
    padding: 4px;
}

table thead tr th {
    background-color: #777777;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #777777;
    padding: 0px 4px 4px 4px;
    text-transform: capitalize;
    text-align: left;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}


.activelink {
    color: rgb(var(--foreground-rgb));
    text-decoration: none;
    border-bottom: 2px solid darkgray;
}

.largetext {
    font-size: 2rem;
    font-weight: 900;
}

.margin-small {
    margin: 4px 16px;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.centeritems {
    align-items: center;
}

.enditems {
    align-items: end;
}

.center {
    justify-content: center;
}

.end {
    justify-content: end;

}
.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.height1 {
    height: 1px;
}

.gap {
    gap: 1rem;
}

.padding {
    padding: 0.5rem 1rem;
}

.white {
    background-color: white;
}

.textright {
    text-align: right;
}

.alignstart {
    align-self: start;
}
.aligncenter {
    align-self: center;
}

.main-content {
    margin-top: 48px;
    height: 1px;
    flex-grow: 1;
    overflow-y: auto;
}